html,
body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  height: calc(100% - 30px);
  width: 100%;
}
.input {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#input {
  text-align: center;
}
#button {
  padding: 5px;
  border-radius: 10px;
  margin: 0 5px;
}
#canvas {
  /* width: 100%;
  height: 80%; */
  margin: auto;
  /* border: 1px solid yellow; */
}
